
<ion-header>
   <ion-navbar hideBackButton color="blueish">
     <ion-title class="titleS">{{title}}Re-Book</ion-title>
  </ion-navbar>
</ion-header>



<ion-content padding class="bg-image" >
    <button ion-button color="blueish" (click)="logOut()">Log Out</button>
    <button  color="blueish" ion-button (click)="publish()">Publish Book</button>
    
    <ion-card *ngFor = "let post of posts" class="ion-card">
        
        <ion-card-content>

         <ion-card-title class="ion-card-title">
           {{post.title}}
            </ion-card-title>
              <img src="../assets/imgs/probook1.jpg" alt="">
              <div class="wrapContent">
             <h2>Name: {{post.name}}</h2>
             <p>Book:  {{post.content}}</p>
             <p>Date: {{post.date}}</p>
             <p> Phone number:{{post.phoneNr}}</p>
            </div>
    
        </ion-card-content>
      </ion-card>

      <ion-list class="ion-list">

        
        <ion-list-header class="header"  >
          Your Posts
        </ion-list-header>
        <ion-item class="ion-item" *ngFor="let post of postList$ | async" >
          <ion-card class="ion-cardPost">
            <ion-card-content class="ion-content">
              <ion-card-title>
                
                <p>Name: {{post.name}}</p>
                <p>Date: {{post.date}}</p>
                <p>Description: {{post.description}}</p>
                <p>phone Number: {{post.phoneNr}}</p>
               </ion-card-title>
            </ion-card-content>
      </ion-card>
          </ion-item>
         </ion-list>
       

     
     </ion-content>
    
    
