.title{
    text-align:center;
    }

    page-home{

    .bg-image {
        background-image: url('../assets/img/homeBc.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}